*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Cinzel', serif;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.726);
    font-weight: bolder;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin-bottom: 0rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0rem!important;
}
 
/* LOGO PRINCIPAL */

.logo{
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* MENU */

.menu{
    display: flex;
    justify-content: space-evenly;
}


.imagenMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(img/fondoMenu.jpg);
    border: 1px solid rgba(0, 0, 0, 0.601);
    height: 80vh;
    padding: 20px;
}


.logoMenu{
    display: flex;
    justify-content: center;
}

.pedirPresupuesto{
    display: flex;
    justify-content: center;
}

.btn-danger {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    width: 24%;
    font-size: 14px;
    padding: 3px!important;
}

/* NAV */

.nav{
    flex-wrap: nowrap;
}

.nav-link {
    color: rgba(0, 0, 0, 0.672)!important;
}

/* DIVISOR */

.divisor{
    background-image: url(img/fondoDividor.jpg);
    border: 1px solid black;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
}

.divisor h1{
    font-weight: bolder;  
}

/* NOSOTROS */

.nosotros h2{
    font-weight: bolder;
    text-align: center;
    padding: 20px;
}

.nosotrosTexto{
    display: flex;
}

.nosotrosTexto img{
    width: 50%;
    border-radius: 50%;
}

/* SERVICIOS */

.servicios{
    display: flex;
    flex-direction: column;
}

.servicios h2 {
    font-weight: bolder;
    text-align: center;
    padding: 20px;
}

.card-group{
    width: 100%;
}

.card {
    width: 30%;
}

.card-title{
    font-weight: bolder; 
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
}

.card-body{
    text-align: justify;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-basic {
    padding-top: 20px;
}

/* RESPONSIVE */

@media only screen and (min-width:320px) and (max-width:480px){

    .imagenMenu{
        background-image: url(img/fondoContacto.jpeg);
        border: 1px solid black;
        align-items: center;
        
    }

    .btn-danger {
        width: 100%;
        font-size: 15px;
    }

    .card-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0rem;
    }

    .card {
        width: 90%;
    }

    .card-text{
        padding: 10px;
    }

    .card-group>.card {
        margin-bottom: 0rem;
    }

    .card-body{
        flex: 0;
        padding: 0;
    }

    .card-title{
        padding: 10px;
    }

}